<section>
    <h2>Contactgegevens</h2>

    {{^errorContactgegevens}}

        <table class="responsive-table">
            <tbody>
                <tr>
                    <td>E-mailadres</td>
                    <td>{{email}}{{^email}}-{{/email}}</td>
                    <td>
                        <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
                            <li class="utrecht-link-list__item">
                                <a href="/contactgegevens/edit?type=email" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                                    <span class="utrecht-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                                            <path d="M9 6l6 6l-6 6"></path>
                                        </svg>
                                    </span>
                                    <span class="utrecht-link-list__link-text">{{#email}}Aanpassen{{/email}}{{^email}}Toevoegen{{/email}}</span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Telefoonnummer</td>
                    <td>{{telefoonnummer}}{{^telefoonnummer}}-{{/telefoonnummer}}</td>
                    <td>
                        <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
                            <li class="utrecht-link-list__item">
                                <a href="/contactgegevens/edit?type=phonenumber" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                                    <span class="utrecht-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                                            <path d="M9 6l6 6l-6 6"></path>
                                        </svg>
                                    </span>
                                    <span class="utrecht-link-list__link-text">{{#telefoonnummer}}Aanpassen{{/telefoonnummer}}{{^telefoonnummer}}Toevoegen{{/telefoonnummer}}</span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>


    {{/errorContactgegevens}}
    {{#errorContactgegevens}}
        <h2>Er is iets misgegaan</h2>
        <p>{{errorContactgegevens}}</p>
    {{/errorContactgegevens}}
</section>
