{{>header}}
<main id="main">
    <h1>Mijn gegevens</h1>
    <p class="utrecht-paragraph utrecht-paragraph--lead">
    {{^showContactgegevens}}Hier vindt u een overzicht van uw persoons- en adresgegevens.{{/showContactgegevens}}
    {{#showContactgegevens}}Hier vindt u een overzicht van uw persoons-, adres- en contactgegevens.{{/showContactgegevens}}
    </p>

    {{#showContactgegevens}}
    {{>contactgegevens}}
    {{/showContactgegevens}}

    {{>persoonsgegevens}}
</main>
{{>footer}}
