{{^error}}
    <section>
        <h2>Persoonsgegevens</h2>
        <table class="nijmegen-table nijmegen-table-full-width">
            <thead class="nijmegen-table__header">
                <tr class="nijmegen-table__row">
                    <th scope="col" class="nijmegen-table__header-cell">Kenmerk</th>
                    <th scope="col" class="nijmegen-table__header-cell">Waarde</th>
                </tr>
            </thead>
             <tbody class="nijmegen-table__body">
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">BSN</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.bsn}}</td>
                </tr>

                {{#persoonsgegevens.naam}}
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Naam (aanschrijfwijze)</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.naam}}</td>
                </tr>
                {{/persoonsgegevens.naam}}

                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Initialen</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.voorletters}}</td>
                </tr>
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Voornamen</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.voornamen}}</td>
                </tr>
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Voorvoegsel</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.voorvoegsel}}</td>
                </tr>
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Geslachtsnaam</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.geslachtsnaam}}</td>
                </tr>

                {{#persoonsgegevens.achternaam}}
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Achternaam</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.achternaam}}</td>
                </tr>
                {{/persoonsgegevens.achternaam}}

                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Geboortedatum</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.geboortedatum}}</td>
                </tr>
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Nederlandse nationaliteit</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.nederlandseNationaliteit}}</td>
                </tr>
                <tr class="nijmegen-table__row">
                    <td class="nijmegen-table__data-cell" data-label="Kenmerk">Geslachtsaanduiding</td>
                    <td class="nijmegen-table__data-cell" data-label="Waarde">{{persoonsgegevens.geslacht}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <h2>Adresgegevens</h2>
        <p>
            {{#persoonsgegevens.adresregels}}
            {{.}}<br />
            {{/persoonsgegevens.adresregels}}
        </p>
    </section>
    
    <div>
        <h2>Persoonsgegevens aanpassen of opvragen</h2>
        <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/verhuizen/verhuizing-doorgeven/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Verhuizing doorgeven</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/uittreksel-basisregistratie-personen-brp/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Uittreksel BRP aanvragen</span>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/uittreksel-burgerlijke-stand/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Geboorteakte of huwelijksakte aanvragen</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/uittreksel-rni-en-bewijs-van-uitschrijving/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Uittreksel RNI aanvragen</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/gegevens-aanpassen-in-de-basisregistratie-personen/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Foute persoonsgegevens aanpassen</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/achternaam-gebruiken/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Gebruik achternaam aanpassen</span>
                </a>
            </li>
        </ul>
    </div>

{{/error}}
{{#error}}
    <h2>Er is iets misgegaan</h2>
    <p>{{error}}</p>
{{/error}}
