{{^error}}
    <section>
    <h2>Persoonsgegevens</h2>
    <p class="lead">Hier vindt u een overzicht van uw persoons- en adresgegevens.</p>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Kenmerk</th>
                <th>Waarde</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BSN</td>
                <td>{{persoonsgegevens.bsn}}</td>
            </tr>

            {{#persoonsgegevens.naam}}
            <tr>
                <td>Naam (aanschrijfwijze)</td>
                <td>{{persoonsgegevens.naam}}</td>
            </tr>
            {{/persoonsgegevens.naam}}

            <tr>
                <td>Initialen</td>
                <td>{{persoonsgegevens.voorletters}}</td>
            </tr>
            <tr>
                <td>Voornamen</td>
                <td>{{persoonsgegevens.voornamen}}</td>
            </tr>
            <tr>
                <td>Voorvoegsel</td>
                <td>{{persoonsgegevens.voorvoegsel}}</td>
            </tr>
            <tr>
                <td>Geslachtsnaam</td>
                <td>{{persoonsgegevens.geslachtsnaam}}</td>
            </tr>

            {{#persoonsgegevens.achternaam}}
            <tr>
                <td>Achternaam</td>
                <td>{{persoonsgegevens.achternaam}}</td>
            </tr>
            {{/persoonsgegevens.achternaam}}

            <tr>
                <td>Geboortedatum</td>
                <td>{{persoonsgegevens.geboortedatum}}</td>
            </tr>
            <tr>
                <td>Nederlandse nationaliteit</td>
                <td>{{persoonsgegevens.nederlandseNationaliteit}}</td>
            </tr>
            <tr>
                <td>Geslachtsaanduiding</td>
                <td>{{persoonsgegevens.geslacht}}</td>
            </tr>
        </tbody>
    </table>
    </section>
    <section>
        <h2>Adresgegevens</h2>
        <p>
            {{#persoonsgegevens.adresregels}}
            {{.}}<br />
            {{/persoonsgegevens.adresregels}}
        </p>
    </section>
        <div>
        <h2>Persoonsgegevens aanpassen of opvragen</h2>
        <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/verhuizen/verhuizing-doorgeven/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Verhuizing doorgeven</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/uittreksel-basisregistratie-personen-brp/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Uittreksel BRP aanvragen</span>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/uittreksel-burgerlijke-stand/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Geboorteakte of huwelijksakte aanvragen</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/uittreksel-rni-en-bewijs-van-uitschrijving/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Uittreksel RNI aanvragen</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/gegevens-aanpassen-in-de-basisregistratie-personen/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Foute persoonsgegevens aanpassen</span>
                </a>
            </li>
            <li class="utrecht-link-list__item">
                <a href="https://www.nijmegen.nl/diensten/uittreksels-en-verklaringen/achternaam-gebruiken/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                    <span class="utrecht-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right">
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                    <span class="utrecht-link-list__link-text">Gebruik achternaam aanpassen</span>
                </a>
            </li>
        </ul>
    </div>               
{{/error}}
{{#error}}
    <h2>Er is iets misgegaan</h2>
    <p>{{error}}</p>
{{/error}}
