{{>header}}
<main>
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
                <h1>Mijn Contactgegevens</h1>
                {{^error}}
                <p class="lead">Hier vindt u een overzicht van uw contactgegevens.</p>
                <table class="responsive-table">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td class="nowrap">{{email}}{{^email}}-{{/email}}</td>
                            <td class="nowrap"><a href="#">Aanpassen</a></td>
                        </tr>
                        <tr>
                            <td>Telefoonummer</td>
                            <td class="nowrap">{{telefoonnummer}}{{^telefoonnummer}}-{{/telefoonnummer}}</td>
                            <td class="nowrap"><a href="#">Aanpassen</a></td>
                        </tr>
                    </tbody>
                </table>
                
                <form action="/submit" method="POST">
                    <label for="email">E-mailadres</label>
                    <input type="email" id="email" name="email" value="gebruiker@example.com" required>

                    <label for="phone">Telefoonnummer</label>
                    <input type="text" id="phone" name="phone" value="123-456-7890" required>

                    <button type="submit">Wijzigingen opslaan</button>
                </form>

                {{/error}}
                {{#error}}
                    <h2>Er is iets misgegaan</h2>
                    <p>{{error}}</p>
                {{/error}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}
