{{>header}}
<main>
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
                <h1>Mijn Contactgegevens</h1>
                {{^error}}
                <p class="lead">Hier vindt u een overzicht van uw contactgegevens.</p>

                <form action="POST">

                    <div class="md-form">
                        <label for="input-example1">E-mailadres</label>
                        <input type="text" name="email" class="form-control" placeholder="e-mail" value="{{email}}">
                    </div>

                    <div class="md-form">
                        <label for="input-example1">Telefoonnummer</label>
                        <input type="text" name="telefoonnummer" class="form-control" placeholder="+31 (6)" value="{{telefoonnummer}}">
                    </div>

                    <input type="hidden" name="xsrf_token" value="{{xsrf_token}}"/>

                    <button type="submit" class="btn btn-primary">Wijzigingen opslaan</button>

                </form>

                {{/error}}
                {{#error}}
                    <h2>Er is iets misgegaan</h2>
                    <p>{{error}}</p>
                {{/error}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}
