{{>header}}
<main>
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
                <h1>Mijn contactgegevens</h1>
                
                {{^errorMessage}}

                <form method="post" action="?type={{#editEmail}}email{{/editEmail}}{{#editPhonenumber}}telefoon{{/editPhonenumber}}">

                    {{#editEmail}}
                    <div class="md-form">
                        <label for="email">E-mailadres</label>
                        <input type="text" id="email" name="email" autocomplete="email" class="form-control {{#emailError}}is-invalid{{/emailError}}" value="{{email}}">
                         <div class="invalid-feedback">
                            <span class="sr-only">Invoer onjuist: </span>Het e-mailadres is onjuist. Uw wijzigingen zijn nog niet opgeslagen.
                        </div>
                    </div>
                    {{/editEmail}}

                    {{#editPhonenumber}}
                    <div class="md-form">
                        <label for="telefoonnummer">Telefoonnummer</label>
                        <input type="text" id="telefoonnummer" name="telefoonnummer" autocomplete="tel" class="form-control {{#telefoonnummerError}}is-invalid{{/telefoonnummerError}}" value="{{telefoonnummer}}">
                        <div class="invalid-feedback">
                            <span class="sr-only">Invoer onjuist: </span>Het telefoonnummer is onjuist. Uw wijzigingen zijn nog niet opgeslagen.
                        </div>
                    </div>
                    {{/editPhonenumber}}

                    <div class="md-form">
                      <span>Welk kanaal heeft uw voorkeur?</span>
                      <div ref="component" class="form-group has-feedback formio-component formio-component-radio_nijmegen formio-component-selectedid">
                        <div class="form-radio radio">

                          <div ref="wrapper" class="form-check">
                              <input id="voorkeur-email" value="email" class="form-check-input" type="radio" name="voorkeur" {{#voorkeurEmail}}checked{{/voorkeurEmail}}>
                              <label for="voorkeur-email" class="form-check-label label-position-right">E-mail</label>
                          </div>

                          <div ref="wrapper" class="form-check">
                              <input id="voorkeur-telefoon" value="telefoonnummer" class="form-check-input" type="radio" name="voorkeur" {{#voorkeurTelefoon}}checked{{/voorkeurTelefoon}}>
                              <label for="voorkeur-telefoon" class="form-check-label label-position-right">Telefoon</label>
                          </div>
                          
                          {{#voorkeurEmailMaarGeenEmail}}
                            <div class="alert alert-danger">
                            Voer een E-mail in als u dit als voorkeurskanaal wil gebruiken. Uw wijzigingen zijn nog niet opgeslagen.
                            </div>
                          {{/voorkeurEmailMaarGeenEmail}}

                          {{#voorkeurTelefoonlMaarGeenTelefoon}}
                            <div class="alert alert-danger">
                            Voer een telefoonnummer in als u dit als voorkeurskanaal wil gebruiken. Uw wijzigingen zijn nog niet opgeslagen.
                          </div>
                          {{/voorkeurTelefoonlMaarGeenTelefoon}}

                        </div>
                    </div>


                    <input type="hidden" name="xsrf_token" value="{{xsrf_token}}"/>

                    <button type="submit" class="btn btn-primary">Wijzigingen opslaan</button>

                </form>

                {{/errorMessage}}
                {{#errorMessage}}
                    <h2>Er is iets misgegaan</h2>
                    <p>{{errorMessage}}</p>
                {{/errorMessage}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}
