{{>header}}
<main>
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
                <h1>Mijn contactgegevens</h1>
                
                {{^generalError}}

                <form method="post">
                    <div class="md-form" action="?type={{#editEmail}}email{{/editEmail}}{{#editPhonenumber}}telefoon{{/editPhonenumber}}">
                        <label for="email">Verificatie code e-mailadres</label>
                        <input type="text" id="email" name="verificationCode" class="form-control {{#invalidVerificationCode}}is-invalid{{/invalidVerificationCode}}">
                         <div class="invalid-feedback">
                            <span class="sr-only">Invoer onjuist: </span>De verificatie code voor uw e-mailadres is onjuist. Uw wijziging is nog niet opgeslagen.
                        </div>
                    </div>

                    <input type="hidden" name="xsrf_token" value="{{xsrf_token}}"/>

                    <button type="submit" class="btn btn-primary">Verifieren</button>

                </form>

                {{/generalError}}
                {{#generalError}}
                    <h2>Er is iets misgegaan</h2>
                {{/generalError}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}
