{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <h1>Inloggen Mijn Nijmegen</h1>
        <p class="lead">Bekijk uw persoonsgegevens en uitkeringsgegevens op uw persoonlijke gemeentepagina.</p>
        <h2>Inloggen</h2>
        <p>U kunt kiezen om met DigiD in te loggen of met Yivi.</p>
        <div class="login-selector">
            <a href="{{{authUrlDigid}}}" class="btn btn-primary waves-effect waves-light display-table btn-digid">
                <span class="title"> Inloggen </span><span class="assistive">met DigiD</span>
            </a>
            <a href="{{{authUrlYivi}}}" class="btn btn-primary waves-effect waves-light display-table btn-yivi">
                <span class="title"> Inloggen </span><span class="assistive">met Yivi</span>
            </a>
        </div>
        <p>Door in te loggen geeft u uw BSN (BurgerServiceNummer) door. Dit is een uniek nummer waaraan uw persoonlijke gegevens zijn gekoppeld. Wij vragen uw BSN zodat u alleen uw gegevens ziet. Als u inlogt met DigiD gaat dit vanzelf. Logt u in met Yivi dan vragen wij u in de Yivi-app om uw BSN met ons te delen. <a href="https://www.nijmegen.nl/diensten/privacy/yivi-nieuwe-manier-van-inloggen/">Lees meer over Yivi</a>.
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
