{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <h1>Mijn Nijmegen</h1>
        <p class="lead">Bekijk uw persoonsgegevens en uitkeringsgegevens op uw persoonlijke gemeentepagina.</p>
        <h2>Inloggen</h2>
        <p>U kunt ervoor kiezen uw DigiD te gebruiken om in te loggen, of hiervoor Yivi te gebruiken. Lees meer over <a href="https://www.nijmegen.nl/diensten/privacy/yivi-nieuwe-manier-van-inloggen/">Yivi</a>.</p>
        <div>
            <a href="{{{authUrlDigid}}}" class="btn btn-primary waves-effect waves-light display-table btn-digid">
                <span class="title"> Inloggen </span><span class="assistive">met DigiD</span>
            </a>
            <a href="{{{authUrlYivi}}}" class="btn btn-primary waves-effect waves-light display-table btn-yivi">
                <span class="title"> Inloggen </span><span class="assistive">met Yivi</span>
            </a>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
