{{>header}}

<main id="main">
    <h1>Inloggen Mijn Nijmegen</h1>
    <p class="utrecht-paragraph utrecht-paragraph--lead">U kunt kiezen om met DigiD in te loggen of met Yivi. Organisaties kunnen ook met eherkenning inloggen.</p>

    <div class="mijn-login-selector">
        {{#authMethods}}
        <a href="/login?method={{methodName}}" class="utrecht-button utrecht-button--primary-action mijn-login-button mijn-login-button--{{methodName}}">
            Inloggen met {{methodNiceName}}
        </a>
        {{/authMethods}}
    </div>

    <p class="utrecht-paragraph">Door in te loggen geeft u uw BSN (BurgerServiceNummer) door. Dit is een uniek nummer waaraan uw persoonlijke gegevens zijn gekoppeld. Wij vragen uw BSN zodat u alleen uw gegevens ziet. Met Yivi ziet u welke gegevens van u gevraagd worden als u inlogt. <a href="https://www.nijmegen.nl/diensten/privacy/yivi-nieuwe-manier-van-inloggen/" class="utrecht-link utrecht-link--html-a">Lees meer over Yivi</a>.</p>
</main>

{{>footer}}
