{{>header}}

<main class="denhaag-theme">
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
            <h1>Mijn Nijmegen</h1>
            <p class="lead">Bekijk uw persoonsgegevens, uitkeringsgegevens of lopende zaken.</p>

            {{#has_taken}}
            <div class="header-readmore">
                <h2>Belangrijke taken om te regelen</h2>
            </div>
            {{{taken}}}
            {{/has_taken}}

            {{#has_zaken}}
            <div class="header-readmore">
                <h2>Mijn zaken</h2>
                <a href="/zaken">Bekijk alle zaken {{>arrow-right}}</a>
            </div>
            {{{zaken}}}
            {{/has_zaken}}
             {{#timeout}}
            <p id="open-zaken-list">Bezig met ophalen van uw open zaken… {{>spinner}}</p>
            {{/timeout}}
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
