{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{activeClass}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
            <h1>Mijn Nijmegen</h1>
                <p class="lead">Bekijk uw persoonsgegevens of uitkeringsgegevens.</p>
            <div class="row">
                {{#nav}}
                <div class="col-lg-4">
                    <div class="card card-services">
                        <div class="card-body">
                            <p>{{{icon}}}
                            <h2 class="card-title">{{title}}</h2>
                            <p class="card-text">{{description}}</p>
                            <p class="card-read-more text-right mb-0 text-uppercase">
                                <a href="{{{url}}}" aria-label="{{label}}">Lees meer</a>
                            </p>
                        </div>
                    </div>
                </div>
                {{/nav}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
