{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
            <h1>Uitgelogd</h1>
            <p class="lead">U bent nu uitgelogd.</p>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}