{{>header}}
<main id="main">
    <h1>Mijn Uitkering</h1>
    {{^error}}
    <p class="utrecht-paragraph utrecht-paragraph--lead">Hier vindt u een overzicht van uw uitkeringen.</p>
    {{#multipleUitkeringen}}
    <div class="mijn-tabs">
        <div class="mijn-tabs__list" role="tablist" aria-label="Uitkeringen">
            {{#uitkeringen}}
            <button
                type="button"
                id="uitkering-{{typetolower}}-tab"
                class="mijn-tabs__tab"
                role="tab"
                aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}"
                {{^active}}tabindex="-1"{{/active}}
                aria-controls="uitkering-{{typetolower}}-panel"
            >{{type}}</button>
            {{/uitkeringen}}
        </div>
        {{#uitkeringen}}
        <div
            id="uitkering-{{typetolower}}-panel"
            class="mijn-tabs__panel"
            role="tabpanel"
            aria-labelledby="uitkering-{{typetolower}}-tab"
            tabindex="0"
            {{^active}}hidden{{/active}}
        >
            {{> uitkering }}
        </div>
        {{/uitkeringen}}
    </div>
    {{/multipleUitkeringen}}
    {{^multipleUitkeringen}}
        {{#uitkeringen}}
            {{> uitkering }}
        {{/uitkeringen}}
    {{/multipleUitkeringen}}
    {{^uitkeringen}}
    <p>U heeft geen lopende uitkeringen.</p>
    {{/uitkeringen}}
    {{/error}}
    {{#error}}
        <h2>Er is iets misgegaan</h2>
        <p>{{error}}</p>
    {{/error}}
</main>

{{>footer}}
