{{>header}}
<main id="main">
    <h1>Mijn Uitkering</h1>
    {{^error}}
    <p class="utrecht-paragraph utrecht-paragraph--lead">Hier vindt u een overzicht van uw uitkeringen.</p>
    {{#multipleUitkeringen}}
    <nijmegen-accordion>
        {{#uitkeringen}}
        <div class="utrecht-accordion__section">
            <h2 class="utrecht-accordion__header">
                <button
                    class="utrecht-button utrecht-button--subtle utrecht-accordion__button"
                    type="button"
                    aria-expanded="true"
                    aria-controls="uitkering-{{typetolower}}-panel"
                    id="uitkering-{{typetolower}}-button"
                >
                    <span class="utrecht-accordion__button-label">{{type}}</span>
                </button>
            </h2>
            <div id="uitkering-{{typetolower}}-panel" class="utrecht-accordion__panel" aria-hidden="false">
                {{> uitkering }}
            </div>
        </div>
        {{/uitkeringen}}
    </nijmegen-accordion>
    {{/multipleUitkeringen}}
    {{^multipleUitkeringen}}
        {{#uitkeringen}}
            {{> uitkering }}
        {{/uitkeringen}}
    {{/multipleUitkeringen}}
    {{^uitkeringen}}
    <p>U heeft geen lopende uitkeringen.</p>
    {{/uitkeringen}}
    {{/error}}
    {{#error}}
        <h2>Er is iets misgegaan</h2>
        <p>{{error}}</p>
    {{/error}}
</main>

{{>footer}}
