            </div>
        </div>
    </div>
</div>

<footer class="nijmegen-footer">
    <div class="nijmegen-footer__container">
        <div class="nijmegen-footer__sub">
            <p class="utrecht-paragraph">© Gemeente Nijmegen 2026</p>
            <ul>
                <li><a href="https://www.toegankelijkheidsverklaring.nl/register/9216" class="utrecht-link utrecht-link--html-a">Toegankelijkheid</a></li>
                <li><a href="https://www.nijmegen.nl/diensten/privacy/" class="utrecht-link utrecht-link--html-a">Privacy</a></li>
                <li><a href="https://www.nijmegen.nl/cookies/" class="utrecht-link utrecht-link--html-a">Cookies</a></li>
                <li><a href="https://www.nijmegen.nl/proclaimer/" class="utrecht-link utrecht-link--html-a">Proclaimer</a></li>
                <li><a href="https://www.nijmegen.nl/sitemap/" class="utrecht-link utrecht-link--html-a">Sitemap</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- NLDS web components -->
<script src="/static/js/web-components/nijmegen-header.js" defer></script>
<script src="/static/js/web-components/nijmegen-mobile-menu.js" defer></script>
<script src="/static/js/web-components/nijmegen-toolbar-button.js" defer></script>
<script src="/static/js/web-components/nijmegen-accordion.js" defer></script>

<script src="/static/js/tabs.js" defer></script>
<script src="/static/js/updateFrontend.js" defer></script>
    </body>
</html>
