<footer class="nijmegen-footer">
    <div class="nijmegen-footer__container">
        <div class="nijmegen-footer__sub">
            <p class="utrecht-paragraph">© Gemeente Nijmegen 2025</p>
            <ul class="component-library-compatibility">{{!-- component library adds a dot to first li if there's no class on ul, remove when fully on NLDS --}}
                <li><a href="https://www.toegankelijkheidsverklaring.nl/register/9216" class="utrecht-link utrecht-link--html-a">Toegankelijkheid</a></li>
                <li><a href="https://www.nijmegen.nl/diensten/privacy/" class="utrecht-link utrecht-link--html-a">Privacy</a></li>
                <li><a href="https://www.nijmegen.nl/cookies/" class="utrecht-link utrecht-link--html-a">Cookies</a></li>
                <li><a href="https://www.nijmegen.nl/proclaimer/" class="utrecht-link utrecht-link--html-a">Proclaimer</a></li>
                <li><a href="https://www.nijmegen.nl/sitemap/" class="utrecht-link utrecht-link--html-a">Sitemap</a></li>
            </ul>
        </div>
    </div>
</footer>
