<footer class="nijmegen-footer">
    <div class="nijmegen-footer__container">
        <div class="nijmegen-footer__sub">
            <p class="utrecht-paragraph">© Gemeente Nijmegen 2025</p>
            <ul class="component-library-compatibility">{{!-- component library adds a dot to first li if there's no class on ul, remove when fully on NLDS --}}
                <li><a href="https://www.toegankelijkheidsverklaring.nl/register/9216" class="utrecht-link utrecht-link--html-a">Toegankelijkheid</a></li>
                <li><a href="https://www.nijmegen.nl/diensten/privacy/" class="utrecht-link utrecht-link--html-a">Privacy</a></li>
                <li><a href="https://www.nijmegen.nl/cookies/" class="utrecht-link utrecht-link--html-a">Cookies</a></li>
                <li><a href="https://www.nijmegen.nl/proclaimer/" class="utrecht-link utrecht-link--html-a">Proclaimer</a></li>
                <li><a href="https://www.nijmegen.nl/sitemap/" class="utrecht-link utrecht-link--html-a">Sitemap</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- JQuery -->
<script src="https://componenten.nijmegen.nl/v6.5.0/js/jquery.min.js"
        integrity="sha512-pV9V1WiZq0QO8MrheyjVzI9bl2bR6bwaisa4k3aSS0dsGrDDJUl+tdRK9B9Ov47qI22Ho2kCJEuKPspUmUuHEQ=="
        crossorigin="anonymous"></script>

<!-- Bootstrap tooltips -->
<script src="https://componenten.nijmegen.nl/v6.5.0/js/popper.min.js"
        integrity="sha512-lWJ53t3FjWFXcLO7CWRG8vJABfUOuSuMZspt8g2nDyx/ft/B+Zb5jBSjED4Qyze4tp2DqVECV9fHo3j1bzpChw=="
        crossorigin="anonymous"></script>

<!-- Bootstrap core JavaScript -->
<script src="https://componenten.nijmegen.nl/v6.5.0/js/bootstrap.min.js"
        integrity="sha512-uIuDDliVdzuBgB2Ocut6cVdPSGZ6/my59sSOQlwnGi1qtuyyDVzj+8fr/HUr84mBlCs3zGBttci2JSALm8WMNg=="
        crossorigin="anonymous"></script>

<!-- MDB core JavaScript -->
<script src="https://componenten.nijmegen.nl/v6.5.0/js/mdb.min.js"
        integrity="sha512-H56F+Qof8I/t0pk5+LOVy7qxPSZ6pIIpWMIKeEJubSU/YS1oRFamgnVw5bs9qx4MoZiE2NobFJBZSeLHhSPKRg=="
        crossorigin="anonymous"></script>

<!-- Nijmegen specific script -->
<script src="https://componenten.nijmegen.nl/v6.5.0/nijmegen.js"
        integrity="sha512-czF8vk/edgCuqFFSwiXFkpr6qDiFhKKJWKaU6vL/cMcIEfH8ySHNeoganM+wAJ0/lT4doldw2i84Jz8wLLtlmw=="
        crossorigin="anonymous"></script>

<!-- End: Core scripts -->
<!-- Start: Additional component(s) script -->
<!-- ... -->
<!-- End: Additional component(s) script -->
<script src="/static/js/updateFrontend.js" defer></script>
    </body>
</html>
