<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{#xsrf_token}}<meta name="xsrf-token" content="{{ xsrf_token }}">{{/xsrf_token}} 
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    
    <!-- Preload fonts and external styles -->
    <link rel="preload" 
          as="style"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap">
    <link rel="preconnect" 
          href="https://fonts.gstatic.com/" 
          crossorigin="anonymous">
    
    <link rel="preload" 
          as="font" 
          href="/static/fonts/oranda_bold_bt.04c85cb2.woff2" 
          type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" 
          as="font" 
          href="/static/fonts/oranda_bold_bt.8e266873.woff" 
          type="font/woff"
          crossorigin="anonymous">
    <link rel="preload" 
          as="font" 
          href="/static/fonts/oranda_bt.bde3d05f.woff2" 
          type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" 
          as="font" 
          href="/static/fonts/oranda_bt.05235f9a.woff" 
          type="font/woff"
          crossorigin="anonymous">

    <!-- Start: Core styling -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" 
          href="https://componenten.nijmegen.nl/v6.3.2/css/bootstrap.min.css"
          integrity="sha512-bnCn1haQjQGPoq90nqpOWUiu9i60sex8WQI639yU2yElzx0pfG0hpaJrKuJTJD3bZ3lEUw+HRGEHrWm6TGsKSg=="
          crossorigin="anonymous">
    <!-- Material Design Bootstrap combined with custom Nijmegen styles -->
    <link rel="stylesheet" 
          href="https://componenten.nijmegen.nl/v6.3.2/nijmegen.css"
          integrity="sha512-AYsJlKV+MDCA/1wgwJJYz02dP0XdtGe2AVCfzSEmCISPY2Oyl4ArVVn/pguKjt04CroW7HTo1xMHKSCEfSdz9w=="
          crossorigin="anonymous">
    <!-- End: Core styling -->
    <link rel="stylesheet" href="/static/styles/screen.css">
    <link rel="stylesheet" href="/static/styles/zaak.css">
    <title>Mijn Nijmegen{{#title}} - {{.}} {{/title}}</title>
    </head>
<body data-loaded="{{#timeout}}false{{/timeout}}">
<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-light">
    <ul class="navbar-skiplinks">
        <li>
            <a href="#section-1 ">Direct naar inhoud</a>
        </li>
    </ul>
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="navbar-toggler-icon" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span class="sr-only">Homepage Mijn Nijmegen</span>
            <div class="navbar-brand-container">
                <img src="https://componenten.nijmegen.nl/v6.3.2/img/beeldmerklabel.svg" class="logo-labeled" alt="Logo Nijmegen">
                <img src="https://componenten.nijmegen.nl/v6.3.2/img/beeldmerk.svg" class="logo" aria-hidden="true" alt="Logo Nijmegen">
            </div>
        </a>
        {{#shownav}}
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-no-link" href="/logout" title="Uitloggen">{{volledigenaam}}
                        <svg title="Uitloggen" xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon aria-hidden"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-no-link" href="https://nijmegen.nl">Nijmegen.nl
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none" stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon-link aria-hidden"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                    </a>
                </li>
            </ul>
        </div>
        {{/shownav}}
    </div>
</nav>
