<nav class="nijmegen-side-navigation">
    <ul class="nijmegen-side-navigation__list">
    {{#nav}}
        <li class="nijmegen-side-navigation__item ">
        <a
            {{#current}}aria-current="page"{{/current}}
            class="nijmegen-side-navigation__link {{#current}}nijmegen-side-navigation__link--current{{/current}}"
            href="{{{url}}}"
        >
            {{{icon}}}
              <span class="nijmegen-side-navigation__link-label">{{title}}</span>
        </a>
        </li>
    {{/nav}}
    </ul>
</nav>
