<div class="alert alert-info cta">
  <p>Wij zijn benieuwd wat u vindt van Mijn Nijmegen. Invullen kost maar een paar minuten en is anoniem. U helpt hiermee onze dienstverlening te verbeteren!</p>
  <a href="https://q.crowdtech.com/1K-kDm_k_U67VQYvw-Jnfw" class="btn btn-secondary">
      Geef uw mening
  </a>
</div>
