<div class="alert alert-info cta">
  We zijn benieuwd naar uw ervaringen met Mijn Nijmegen. Mogen we u in een korte enquete (5 minuten) hier wat over vragen?
  <a href="https://nijmegen.nl" class="btn btn-secondary">
      Geef uw mening
  </a>
</div>
