{{>header}}
<main id="denhaag-theme">
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
            <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
            </nav>
            <div class="col-lg-9 col-md-12">
                <h1>{{product.naam}}</h1>
                <p class="lead>Hier vindt u de informatie van uw {{product.producttype.uniforme_product_naam}}. U kunt deze ook inladen in uw Wallet:<br />
                
                <a href="/producten/{{product.uuid}}?inladen_wallet=true"
                   class="utrecht-button utrecht-button--primary-action">
                    Plaats product in ID Wallet
                </a>
                </p>
                
                <h2>Informatie over uw product</h2>
                <dl>
                    <dt>Status</dt>
                    <dd>{{product.status}}</dd>

                    <dt>Prijs</dt>
                    <dd>€ {{product.prijs}}</dd>

                    <dt>Aanmaakdatum</dt>
                    <dd>{{product.aanmaak_datum}}</dd>

                    <dt>Laatste update</dt>
                    <dd>{{product.update_datum}}</dd>

                    {{#product.dataobject.location}}
                    <dt>Locatie</dt>
                    <dd>{{product.dataobject.location}}</dd>
                    {{/product.dataobject.location}}
                </dl>

                <h2>Producttype</h2>
                <p class="lead">{{product.producttype.uniforme_product_naam}}</p>
                <dl>
                    <dt>Code</dt>
                    <dd>{{product.producttype.code}}</dd>
                    {{#product.producttype.themas}}
                    <dt>Thema</dt>
                    <dd>{{naam}}</dd>
                    {{#beschrijving}}
                    <dt>Thema omschrijving</dt>
                    <dd>{{beschrijving}}</dd>
                    {{/beschrijving}}
                    {{/product.producttype.themas}}
                </dl>

                {{#product.documenten}}
                <h2>Documenten</h2>
                <ul>
                    <li>{{.}}</li>
                </ul>
                {{/product.documenten}}

                {{#product.zaken}}
                <h2>Zaken</h2>
                <ul>
                    <li>{{.}}</li>
                </ul>
                {{/product.zaken}}

                {{#product.taken}}
                <h2>Taken</h2>
                <ul>
                    <li>{{.}}</li>
                </ul>
                {{/product.taken}}

                {{#product.aanvraag_zaak_url}}
                <h2>Aanvraag</h2>
                <dl>
                    <dt>Zaak URL</dt>
                    <dd><a href="{{product.aanvraag_zaak_url}}">{{product.aanvraag_zaak_url}}</a></dd>
                </dl>
                {{/product.aanvraag_zaak_url}}
            </div>
            </div>
        </div>
    </div>
    <!-- END: template component(s) -->
</main>
{{>footer}}
