{{>header}}

<main id="denhaag-theme">
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
            <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                    <ul class="nijmegen-sidenav__list">
                    {{#nav}}
                        <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                            {{{icon}}}
                            <a href="{{{url}}}">{{title}}</a>
                        </li>
                    {{/nav}}
                    </ul>
            </nav>
            <div class="col-lg-9 col-md-12">
                <h1>Product {{product.naam}}</h1>
                <p class="lead">{{product.producttype.uniforme_product_naam}}</p>
                <div class="alert alert-info">U kunt uw product in uw ID wallet plaatsen</div>
<form action="/producten/{{product.uuid}}?inladen_wallet=true" method="GET">
  <input type="hidden" name="inladen_wallet" value="true">
  <button class="utrecht-button utrecht-button--primary-action" type="submit">Plaats product in ID Wallet</button>
</form>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
