{{>header}}

<main id="denhaag-theme">
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
            <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                    <ul class="nijmegen-sidenav__list">
                    {{#nav}}
                        <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                            {{{icon}}}
                            <a href="{{{url}}}">{{title}}</a>
                        </li>
                    {{/nav}}
                    </ul>
            </nav>

            <div class="col-lg-9 col-md-12">
                <h1>Mijn Producten</h1>
                <p class="lead">Hier vindt u een overzicht van uw producten.</p>
                <div class="alert alert-info">Op dit moment vindt u in Mijn Nijmegen informatie over uw producten en diensten. Het kan dat uw product of dienst niet in dit overzicht staat, nog niet alles wordt hier getoond. Uiteindelijk vindt u in Mijn Nijmegen al uw online producten met ons terug, hier werken we aan.</div>
                <div class="row">
                {{#products}} 
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card card-services">
                    <div class="card-body" href="/producten/{{uuid}}">
                        <h3 class="card-title">{{naam}}</h3>
                        <p class="card-text">Geldigheid: {{start_datum}} t/m {{eind_datum}}</p>
                        <p class="card-read-more text-right mb-0 text-uppercase"><a href="/producten/{{uuid}}">Bekijk meer</a></p>
                        
                    </div>
                </div>  
                                </div>   
                {{/products}}
            </div>

            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
