{{>header}}

<main id="main">
    <h1>Status inladen wallet</h1>
    {{#success}}
    <div class="nijmegen-action-card">
        <div class="nijmegen-action-card__content">
            <p class="utrecht-paragraph">{{success.text}}</p>
        </div>
    </div>
    {{/success}}
    {{#error}}
    <div class="nijmegen-action-card">
        <div class="nijmegen-action-card__content">
            <p class="utrecht-paragraph">{{error.text}}</p>
        </div>
    </div>
    {{/error}}
</main>

{{>footer}}
