{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container">
        <div class="row">
           
            
            <div class="col-lg-9 col-md-12">
            <h1>Status inladen wallet</h1>
            {{#success}}
                <div class="alert alert-info">{{success.text}}</div>
            </div>
            {{/success}}
            {{#error}}
                <div class="alert alert-error">{{error.text}}</div>
            </div>
            {{/error}}
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}
