body { 
    padding-top: 150px; 
}

main {
    min-height: 50vh;
}

.card-number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 2rem;
}

.card-number > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

.card-number .card-body h3, .card-number .card-body h5, .card-number .card-title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 0;
}

.card-number .card-body p {
    margin-top: 8px;
}

.contact .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact i.mdi, .contact span.mdi {
    width: 2rem;
    color: #a80a2d;
}

.contact .items p {
    width: 100%;
    margin-left: 2rem;
}

table {
    margin-bottom: 2rem;
}

table tr th {
    width: 35%;
}

footer.page-footer {
    margin-top: 4rem;
}

/* svg icons for mdi: not part of component library (yet) */
.card-body svg {
    fill: #a80a2d;
}

.footer-content .link-list li svg {
    font-size: 1.1875rem;
    padding: .625rem .5rem;
    width: 35px;
    height: 40px;
    fill: white;
}

.navbar-nav svg {
    fill: white;
}