
{{#incompleteResults}}
    <div class="alert alert-info">Het is ons niet gelukt al uw taken op te halen. Hieronder vindt u een overzicht van de gevonden taken. <a href="">Klik hier om het nog eens te proberen</a>.</div>
{{/incompleteResults}}

<div id="{{takenid}}">
{{#taken}}
    <div class="denhaag-action">
        <div class="denhaag-action__content">
            {{title}} {{#has_attachments}} {{#attachments}}Bijgevoegd: <a href="{{url}}">{{title}}</a> {{/attachments}} {{/has_attachments}}
        </div>
        <div class="denhaag-action__details">

        {{#is_open}}
            <div class="denhaag-action__date">
            <span>
                voor {{einddatum}}
            </span>
            </div>
            <div class="denhaag-action__actions">
            <a
                class="utrecht-button utrecht-button--subtle" type="button"
                href="{{url}}"
                title="Taak uitvoeren"
            >
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
            </a>
            </div>
        {{/is_open}}
        {{#is_afgerond}}
        <div class="denhaag-action__date">
            </div>
            <div class="denhaag-action__actions">
            Ingediend {{>checkmark}}
            </div>
        {{/is_afgerond}}
        {{#is_verwerkt}}
        <div class="denhaag-action__date">
            </div>
            <div class="denhaag-action__actions">
            Verwerkt {{>checkmark}}
            </div>
        {{/is_verwerkt}}
        {{#is_gesloten}}
        <div class="denhaag-action__date">
            </div>
            <div class="denhaag-action__actions">
            Gesloten {{>checkmark}}
            </div>
        {{/is_gesloten}}
        </div>
    </div>
{{/taken}}
{{^taken}}
    {{^incompleteResults}}
        <p>U heeft geen openstaande taken.</p>
    {{/incompleteResults}}
    {{^hasCompletedAllTasks}}
        <p>U heeft al uw openstaande taken afgerond.</p>
    {{/hasCompletedAllTasks}}
{{/taken}}
</div>
