{{>header}}

<main id="main">
    {{#timeout}}
    <h1>Zaak</h1>
    <p class="utrecht-paragraph">Bezig met ophalen van zaakinformatie… {{>spinner}}</p>
    {{/timeout}}
    {{^timeout}}
    {{{singlezaak}}}
    {{/timeout}}
</main>
{{>footer}}
