{{>header}}

<main id="denhaag-theme">
    <!-- START: template component(s) -->
    <div class="container denhaag-theme">
        <div class="row">
        <nav class="nijmegen-sidenav col-lg-3 col-md-12">
                <ul class="nijmegen-sidenav__list">
                {{#nav}}
                    <li class="nijmegen-sidenav__item {{#current}}active{{/current}}">
                        {{{icon}}}
                        <a href="{{{url}}}">{{title}}</a>
                    </li>
                {{/nav}}
                </ul>
        </nav>
        <div class="col-lg-9 col-md-12">
            {{#timeout}}
            <h1>Ophalen niet gelukt</h1>
            <p>Het ophalen van de zaak duurde te lang. Ververs de pagina om deze alsnog te tonen.</p>
            {{/timeout}}
            {{#zaak}}
                <h1>{{zaak_type}}</h1>
                <p class="lead">
                {{#is_case}}
                  Uw aanvraag is op dit moment in de fase: <strong>{{status}}</strong>. {{#verwachtte_einddatum}}Verwachte einddatum: <strong>{{verwachtte_einddatum}}</strong>.{{/verwachtte_einddatum}}
                {{/is_case}}
                {{#is_submission}}
                  Uw inzending is door ons ontvangen op {{registratiedatum}}.
                {{/is_submission}}
                </p>
                {{>taken}}
                {{#has_statuses}}
                <h2>Huidige status</h2>
                <ol class="denhaag-process-steps">
                {{#status_list}}
                    <li class="denhaag-process-steps__step denhaag-process-steps__step--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}}">  
                        <div class="denhaag-process-steps__step-header">
                        <div class="denhaag-step-marker denhaag-step-marker--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}}">
                        {{#completed}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="denhaag-icon"
                            focusable="false" aria-hidden="true" shape-rendering="auto">
                            <path
                                d="M20.664 5.253a1 1 0 01.083 1.411l-10.666 12a1 1 0 01-1.495 0l-5.333-6a1 1 0 011.494-1.328l4.586 5.159 9.92-11.16a1 1 0 011.411-.082z"
                                stroke="currentColor" stroke-width="1.75"></path>
                            </svg>
                        {{/completed}}
                        {{^completed}}
                            {{volgnummer}}
                        {{/completed}}
                        </div>
                        <p class="denhaag-process-steps__step-heading denhaag-process-steps__step-heading--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}}">
                            {{name}}{{#current}} <span class="sr-only">(huidige stap)</span>{{/current}}
                        </p>
                        </div>
                        <div class="denhaag-process-steps__step-body">
                        {{#is_eind}}<div>Verwacht klaar op {{verwachtte_einddatum}}</div>{{/is_eind}}
                        {{^is_eind}}
                            <div class="denhaag-step-marker__connector denhaag-step-marker__connector--{{#current}}current{{/current}}{{^current}}{{#completed}}checked{{/completed}}{{^completed}}not-checked{{/completed}}{{/current}} denhaag-step-marker__connector--main-to-main">{{/is_eind}}
                        </div>
                    </li>
                {{/status_list}}
                </ol>
                {{/has_statuses}}
            <h2>Details</h2>
            <dl>
                <dt>Datum aanvraag</dt>
                <dd>{{registratiedatum}}</dd>
                <dt>Zaaknummer</dt>
                <dd>{{identifier}}</dd>
                {{#has_behandelaars}}
                <dt>Behandelaars</dt>
                {{#behandelaars}}
                <dd>{{.}}</dd>
                {{/behandelaars}}
                {{/has_behandelaars}}
            </dl>
            {{#has_documenten}}
                <h2>Documenten</h2>
                {{#documenten}}
                <a
                class="file"
                download="{{url}}"
                href="{{identifier}}/download/{{url}}"
              >
                <div class="file__left">
                  <svg
                    className="file__icon"
                    fill="none"
                    height="25"
                    viewBox="0 0 24 25"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13 2.5H6C5.46957 2.5 4.96086 2.71071 4.58579 3.08579C4.21071 3.46086 4 3.96957 4 4.5V20.5C4 21.0304 4.21071 21.5391 4.58579 21.9142C4.96086 22.2893 5.46957 22.5 6 22.5H18C18.5304 22.5 19.0391 22.2893 19.4142 21.9142C19.7893 21.5391 20 21.0304 20 20.5V9.5L13 2.5Z"
                      stroke="#4B4B4B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                    <path
                      d="M13 2.5V9.5H20"
                      stroke="#4B4B4B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                  </svg>
                </div>
                <div class="file__right">
                  <div class="file__label">
                    <span id="name">
                      {{url}}
                    </span>
                    <span id="description">
                    </span>
                  </div>
                  <div class="file__link">
                    <svg
                      fill="none"
                      height="20"
                      viewBox="0 0 20 20"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        clip-rule="evenodd"
                        d="M2.49984 11.668C2.96007 11.668 3.33317 12.0411 3.33317 12.5013V15.8346C3.33317 16.0556 3.42097 16.2676 3.57725 16.4239C3.73353 16.5802 3.94549 16.668 4.1665 16.668H15.8332C16.0542 16.668 16.2661 16.5802 16.4224 16.4239C16.5787 16.2676 16.6665 16.0556 16.6665 15.8346V12.5013C16.6665 12.0411 17.0396 11.668 17.4998 11.668C17.9601 11.668 18.3332 12.0411 18.3332 12.5013V15.8346C18.3332 16.4977 18.0698 17.1336 17.6009 17.6024C17.1321 18.0712 16.4962 18.3346 15.8332 18.3346H4.1665C3.50346 18.3346 2.86758 18.0712 2.39874 17.6024C1.9299 17.1336 1.6665 16.4977 1.6665 15.8346V12.5013C1.6665 12.0411 2.0396 11.668 2.49984 11.668Z"
                        fill="currentColor"
                        fill-rule="evenodd"
                      />
                      <path
                        clip-rule="evenodd"
                        d="M5.24408 7.74408C5.56951 7.41864 6.09715 7.41864 6.42259 7.74408L10 11.3215L13.5774 7.74408C13.9028 7.41864 14.4305 7.41864 14.7559 7.74408C15.0814 8.06951 15.0814 8.59715 14.7559 8.92259L10.5893 13.0893C10.2638 13.4147 9.73618 13.4147 9.41074 13.0893L5.24408 8.92259C4.91864 8.59715 4.91864 8.06951 5.24408 7.74408Z"
                        fill="currentColor"
                        fill-rule="evenodd"
                      />
                      <path
                        clip-rule="evenodd"
                        d="M9.99984 1.66797C10.4601 1.66797 10.8332 2.04106 10.8332 2.5013V12.5013C10.8332 12.9615 10.4601 13.3346 9.99984 13.3346C9.5396 13.3346 9.1665 12.9615 9.1665 12.5013V2.5013C9.1665 2.04106 9.5396 1.66797 9.99984 1.66797Z"
                        fill="currentColor"
                        fill-rule="evenodd"
                      />
                    </svg>
                    <div
                      class="nijmegen-link"
                      tabindex="-1"
                    >
                      Download
                    </div>
                  </div>
                </div>
              </a>
                {{/documenten}}
                {{^documenten}}
                <p>Er zijn geen documenten bij deze zaak te tonen.</p>
                {{/documenten}}
            {{/has_documenten}}
            {{/zaak}}
            </div>
        </div>
    </div>
    <!-- END: template component(s) -->
</main>
{{>footer}}
