<tr>
    <td>{{zaak_type}}</td>
    <td class="nowrap">{{identifier}}</td>
    <td class="nowrap">{{registratiedatum}}</td>
    <td class="nowrap">{{status}}</td>
    <td><a href="/zaken/{{internal_id}}">Bekijk</a></td>
</tr>
