<tr class="nijmegen-table__row">
    <td class="nijmegen-table__data-cell" data-label="Omschrijving">{{zaak_identifier}}</td>
    <td class="nijmegen-table__data-cell" data-label="Zaaknummer">{{identifier}}</td>
    <td class="nijmegen-table__data-cell" data-label="Datum">{{registratiedatum}}</td>
    <td class="nijmegen-table__data-cell" data-label="Fase">{{status}}</td>
    <td class="nijmegen-table__data-cell" data-label="Actie"><a class="utrecht-link utrecht-link--html-a" href="/zaken/{{internal_id}}">Bekijk<span class="sr-only"> {{zaak_identifier}} ({{identifier}})</span></a></td>
</tr>
