<table class="responsive-table" id="closed-zaken-list">
    <thead>
    <tr>
        <th>Omschrijving</th>
        <th>Zaaknummer</th>
        <th>Datum</th>
        <th>Fase</th>
        <th>Actie</th>
    </tr>
    </thead>
    <tbody>
{{#zaken.gesloten}}
    <tr>
        <td>{{zaak_type}}</td>
        <td>{{identifier}}</td>
        <td>{{registratiedatum}}</td>
        <td>{{status}}</td>
        <td><a href="/zaken/{{internal_id}}">Bekijk</a></td>
    </tr>
    
{{/zaken.gesloten}}
{{^zaken.gesloten}}
    <tr><td colspan="5">Er zijn geen gesloten zaken gevonden.</td></tr>
{{/zaken.gesloten}}
    </tbody>
</table>
