{{>header}}

<main id="main">
    <h1>Mijn zaken</h1>
    <p class="utrecht-paragraph utrecht-paragraph--lead">Hier vindt u een overzicht van uw zaken.</p>
    <div class="utrecht-alert utrecht-alert--info">
        <div class="utrecht-alert__icon">
            <span class="utrecht-icon" role="img" aria-label="Alert type Informatie">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="tabler-icon tabler-icon-info-circle "
            >
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                <path d="M12 9h.01"></path>
                <path d="M11 12h1v4h1"></path>
            </svg>
            </span>
        </div>
        <div class="utrecht-alert__content">
            <div class="utrecht-alert__message" role="status">
            <p class="utrecht-paragraph">Op dit moment vindt u in Mijn Nijmegen informatie over uw aanvragen/meldingen. Het kan dat uw aanvraag of zaak niet in dit overzicht staat, nog niet alles wordt hier getoond. Uiteindelijk vindt u in Mijn Nijmegen al uw online zaken met ons terug, hier werken we aan.</p>
            </div>
        </div>
    </div>


    <nijmegen-accordion>
        <div class="utrecht-accordion__section">
            <h2 class="utrecht-accordion__header">
                <button class="utrecht-button utrecht-button--subtle utrecht-accordion__button" type="button" aria-expanded="true" aria-controls="open-zaken-panel" id="open-zaken-button">
                    <span class="utrecht-accordion__button-label">Lopende zaken</span>
                </button>
            </h2>
            <div id="open-zaken-panel" class="utrecht-accordion__panel" aria-hidden="false">
                {{#timeout}}
                    <p id="open-zaken-list">Bezig met ophalen van uw open zaken… {{>spinner}}</p>
                {{/timeout}}
                {{^timeout}}
                    {{{open-zaken}}}
                {{/timeout}}
            </div>
        </div>
        <div class="utrecht-accordion__section">
            <h2 class="utrecht-accordion__header">
                <button class="utrecht-button utrecht-button--subtle utrecht-accordion__button" type="button" aria-expanded="true" aria-controls="closed-zaken-panel" id="closed-zaken-button">
                    <span class="utrecht-accordion__button-label">Afgeronde zaken</span>
                </button>
            </h2>
            <div id="closed-zaken-panel" class="utrecht-accordion__panel" aria-hidden="false">
                {{#timeout}}
                    <p id="closed-zaken-list">Bezig met ophalen van uw afgeronde zaken… {{>spinner}}</p>
                {{/timeout}}
                {{^timeout}}
                    {{{closed-zaken}}}
                {{/timeout}}
            </div>
        </div>
    </nijmegen-accordion>
</main>

{{>footer}}
