
{{#incompleteResults}}
    <div class="alert alert-info">Het is ons niet gelukt al uw zaken op te halen. Hieronder vindt u een overzicht van de gevonden zaken. <a href="">Klik hier om het nog eens te proberen</a>.</div>
{{/incompleteResults}}

<table class="responsive-table" id="{{id}}" data-loaded="{{#timeout}}false{{/timeout}}">
    <thead>
    <tr>
        <th>Omschrijving</th>
        <th>Zaaknummer</th>
        <th>Datum</th>
        <th>Fase</th>
        <th>Actie</th>
    </tr>
    </thead>
    <tbody>
{{#zaken}}
    {{>zaak-row}}
{{/zaken}}
{{^zaken}}
    <tr><td colspan="5">Er zijn geen zaken gevonden.</td></tr>
{{/zaken}}
    </tbody>
</table>
